.Wrapper
  = render 'messages/chat_side'
  .Chat-main
    .Main-header
      .Main-header__left-box
        %h2.Main-header__left-box__current-group
          = @group.name
        %ul.Main-header__left-box__member-list
          Member : 
          %li.Main-header__left-box__member-list__member
            - @group.users.each do |member|
              = member.name
      %h3.Main-header__edit-btn
        = link_to "Edit" ,edit_group_path(params[:group_id]), method: :get
    .Messages
      = render @messages
    .Form
      = form_for [@group, @message] do |f|
        = f.text_field :content, name: 'message[content]', type: 'text', class: 'Input-box__text', placeholder: 'type a message'
        .Input-box
          .Input-box__image
            = f.label :image do
              = fa_icon 'image', class: 'icon'
              = f.file_field :image, class: 'hidden'
        = f.submit "Send", class: 'Submit-btn'